{% extends 'base.html' %} {% block content %}

<h1>{{ wallet.name }}</h1>
  
<div class="row">
  <div class="col s6">
    <h3>{{ wallet.name }}'s Coins</h3>
    {% if wallet.crypto %}
      <table class="bordered">
        <thead>
          <tr>
            <th>Coin</th>
            <th>Amount</th>
            <th>Buy</th>
            <th>Sell</th>
          </tr>
        </thead>
        <tbody>
          {% for coin in wallet.crypto %}
            <tr>
              <td>{{ coin.crypto.symbol }}</td>
              <td>{{ coin.amount }}</td>
              <td>
                <form action="{% url 'buy_crypto' wallet.id coin.crypto.id %}" method="POST">
                  {% csrf_token %} 
                  <label for="amount">Amount</label>
                  <input type="number" step="0.01" name="amount">
                  <input type="submit" value="Buy">
                </form>
              </td>
              <td>
                <form action="{% url 'sell_crypto' wallet.id coin.crypto.id %}" method="POST">
                  {% csrf_token %} 
                  <label for="amount">Amount</label>
                  <input type="number" step="0.01" name="amount">
                  <input type="submit" value="Sell">
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    {% else %}
      <h6>{{ wallet.name }} has no coins at this time</h6>
    {% endif %}
  </div>

  <div class="col s6">
      <h3>Available Coins</h3>
      {% if avail_crypto %} 
        {% for coin in avail_crypto %}
        <div class="card">
        <div class="card_content">
            <span>{{ coin.symbol }}</span>
        </div>
        <form action="{% url 'buy_crypto' wallet.id coin.id %}" method="POST">
        {% csrf_token %} 
          <label for="amount">Amount</label>
          <input type="number" step="0.01" name="amount">
          <input type="submit" value="Buy">
        </form>
        </div>
        {% endfor %} 
    {% else %}
    <h6>{{ wallet.name }} already has all coins available</h6>
    {% endif %}
  </div>
  </div>
  
</div>
{% endblock %}
