{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %}

{% block content %}

<div class="container">
  <div class="row equal-height-grid">
    <!-- big charts start -->
    <div class="col s12">
      <div class="card">
        <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script><div id="coinmarketcap-widget-marquee" coins="1,1027,825,1839,52,5994,6758,5426,11865,18876,2300" currency="USD" theme="light" transparent="true" show-symbol-logo="true"></div>
      </div>  
    </div> 
    <br>
    <!-- chart end -->
        
    <!-- summary start card -->
    
    <div class="col s12">
      <div class="card admin-green white-text">
        <div class="card-toolbar">
          <div class="card-toolbar-title">Account Summary</div>
          <div class="card-toolbar-actions"></div>
        </div>
        <div class="card-content card-align-center">
          <span class="card-title">Total Value of {{ user }}'s' Wallets: ${{ total_value|floatformat:2|intcomma }} </span>
          <p class="white-text">
            <div class="card">
                </div>
             </p>
        </div>
      </div>
    </div>
    <!-- summary card end  -->
    
    <!-- wallets start  -->
    {% if wallets %}
      {% for wallet in wallets %}
        <div class="col l3 m6 s12">
          <div class="card admin-blue white-text">
            <div class="card-toolbar">
              <div class="card-toolbar-title"><i class="material-icons left"></i>{{ wallet.name }}</div>
              <div class="card-toolbar-actions">
              </div>
            </div>
            <div class="card-content card-align-top">
              <span class="card-title"></span>
              <ul>
                {% if wallet %}
                  {% for coin in wallet.crypto %}
              
                   <li>{{ coin.name }}: <li> 
                   <li>Amount: {{ coin.amount }} </li> 
                   <li>Current Value: ${{ coin.amount|mul:coin.price|floatformat:2|intcomma }}</li>
                    <br>
                   {% endfor %}
                   {% else %}
                     <p>This wallet has no coins</p>
                   {% endif %}
              </ul>
            </div>
            <div class="card-content card-align-bottom">
              
              {% if wallet.crypto %}
               <p class="white-text">Balance of this wallet is: ${{ wallet.total|floatformat:2|intcomma }}</p>
              {% else %}
              <p class="white-text">This wallet has no coins</p>
              {% endif %}
                
              <div class="card-action">
                <a 
                  class="waves-effect waves-light btn"
                  href="{% url 'detail' wallet.id %}"
                  >
                  Buy/Sell
                </a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %} 
    {% endif %}
  
    <!-- wallet Add Start -->
     <div class="col l3 m6 s12">
      <div class="card admin-pink white-text">
        <div class="card-toolbar">
          <div class="card-toolbar-title"><i class="material-icons left"></i>Add Wallet</div>
          <div class="card-toolbar-actions">
          </div>
        </div>
        <div class="card-content card-align-center">
          <span class="card-title">Add New Wallet</span>
          <form action="{% url 'add_wallet' %}" method="POST">
            {% csrf_token %}
            {{ wallet_form.as_p }}
            <input type="submit" value="Add Wallet" class="btn blue">
          </form>
        </div>
      </div>
    </div>
    
    <!-- wallet add end -->
    
</div>
</div>

    <!-- External libraries -->
   
   {% endblock %}