{% extends 'base.html' %}

{% block content %}




<div class="col l3 m6 s12">
    <div class="card admin-blue white-text">
      <div class="card-toolbar">
        <div class="card-toolbar-title"><i class="material-icons leftt">thumb_up
        </i>Wallet 1</div>
        <div class="card-toolbar-actions">
        </div>
      </div>
      <div class="card-content card-align-top">
       
        <span class="card-title">Wallet Name 1 ie Metamask </span>
        <!-- <ul> -->
        <!-- <li>Coin - Eth - 2        -->
        <!-- </li> -->
        <!-- <li>Coin - BTC - 1.5       <a class="waves-effect waves-light btn-small">Buy</a><a class="waves-effect waves-light btn-small">Sell</a> -->
        <!-- </li> -->
        <!-- <li>Coin - LTC - 3.5       <a class="waves-effect waves-light btn-small">Buy</a><a class="waves-effect waves-light btn-small">Sell</a> -->
        <!-- </li> -->
       
      <!-- </ul> -->


      <table class="striped">
        <thead>
            <tr>
              <th>Coin</th>
              <th>Current Amount</th>
              <th>Edit Amount</th>
              <th>Buy or Sell</th>
            </tr>

        </thead>

        <tbody>
            
<!-- Line 1 start -->

<tr>
            <td>Coin1</td>
            <td>Coin1</td>
            <td>Coin1 $0.87</td>
            <td> <a class="waves-effect waves-light btn-small">Buy</a> <a class="waves-effect waves-light btn-small">Sell</a></td>

        </tr>
        <!-- Line 2 start -->
        <tr>
            <td>Coin2</td>
            <td>Jellybean</td>
            <td>$3.76</td>
            <td> <a class="waves-effect waves-light btn-small">Buy</a> <a class="waves-effect waves-light btn-small">Sell</a></td>

        </tr>
        
        <tr>
            <td>Coin3</td>
            <td>Lollipop</td>
            <td>$7.00</td>         
               <td> <a class="waves-effect waves-light btn-small">Buy</a> <a class="waves-effect waves-light btn-small">Sell</a></td>

        </tr>
        

        </tbody>

      </table>
            




    </div>

    <div class="card-content card-align-bottom">
      <p class="white-text">Balance of this wallet is: $500</p>


    </div>
  </div>
</div>
  
  



{% endblock %}