{% extends 'base.html' %}

{% block content %}


<div class="container">
    <form>
      <div class="row">
        <div class="col s12"><h2 class="section-title">Add a Wallet</h2></div>
        <div class="input-field col s12">
          <input id="wallet_id" type="text">
          <label for="wallet_id">New Wallet Name</label>
        </div>
        <!-- <div class="input-field col s6"> -->
          <!-- <input id="last_name" type="text"> -->
          <!-- <label for="last_name">Last Name</label> -->
        <!-- </div> -->
          <!-- <textarea id="message" class="materialize-textarea"></textarea> -->
          <a class="waves-effect waves-light btn-large">Add</a>
        </div>
      </div>
    </form>
  </div>
  <div>





{% endblock %}